<div class="row no-gutters">
    <section class="col-lg-12">
        <main #main class="layout-main">

            <!-- Content -->
            <section class="layout-content" [@routeAnimations]="outlet.isActivated && o.activatedRoute.component.name">
                <router-outlet #outlet="outlet"></router-outlet>
            </section>

            <!-- Footer -->
            <footer class="layout-footer">
                <!-- <jm-footer></jm-footer> -->
            </footer>

        </main>
    </section>
</div>
